/*html, body {
  margin: 0;
  padding: 0;
}*/

.navbar-breand{
  font-size: 28px;
  color: #e52f2f; }
/*===============CAROUSEL===========*/
/*.item img{
    margin: auto;
     }*/

.jumbotron {
  background-image: url(Images/city.jpg); 
  height: 800px;
  background-size: 100% 100%;
  background-repeat: no-repeat; 
  margin-bottom: 0px;
}
.main {
  position: relative;
  top: 280px;
  text-align: center;
  color: white;
}


/*@media (max-width:758px){*/
    
/*===========Jumbotron=============*/
   /*.jumbotron{
    height: 500px;
   }
   .main{
    top: 180px;
   }*/

/*=============skills============*/                    
 /*.container #skills {
     height: 900px;
  }*/


/*===========portfolio============*/                     
  /*.container #portfolio {padding-top: 1em;}                      
   #portfolio h3 { padding-top: 1em;
                   margin-top: 1em; }  
*/
/*=============== Contact==================== */ 
   /* #contact {
           margin-top: 2em;
           padding-top: 2em; }
}
*/
 /*=================================================  */
/*======================#SCILLS======================*/

#skills { 
          height: 550px;
          background-color: #908c8c;
           }
 .skillsContainer{
    padding-top: 90px;
 } 
.skillsContainer h2{
  padding-bottom: 40px;
}         

 #skills .glyphicon {
                   font-size: 3em;}
 
/*===============PORTFOLIO==============*/

#portfolio {
           padding-top: 2em;
           margin-top: 3em; }

#portfolio h3 {
    background-image: url(images/back.jpg);
    border: 0.1em solid black;
    margin-top: 1em ;
    padding: 2em; }

#portfolio h3 a {
   color: #e52f2f; }

/*=================About==================*/
#about {
         margin: 3em 2em 3em 2em;
         padding-top: 3em; }

#about img {
  height: 100%;
  width: 100%; }
 /*=============Contact============ */
 
#contact {
  margin: 2em 0 1em ;
  padding: 5em 0 1em 0; }

#contact .glyphicon, h2 {
     font-size: 3em; }

/* ============Resume===========  */ 

.icons {
     
     }
 #email h2{
   margin: 1em 0 1em 0;
   padding: 1em 0 1em 0;
}

.icons .twicon{
  transition: transform 2s;
}

.icons .twicon:hover{
  transform: rotateX(360deg);
}
.icons .inicon{
  transition: transform 2s;
}

.icons .inicon:hover{
  transform: rotateX(360deg);
}
.icons .ghicon{
  transition: transform 2s;
}

.icons .ghicon:hover{
  transform: rotateX(360deg);
}

#resume .btn{
  
  margin-bottom: -4.8em;
  font-size: 2.5em;

}

/* ============footer============= */
.footer{
  background-color: #2f2f2f;
  color:white;
  padding-top: 3em;
}




